<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Vpfs" connectionString="server=zoli-laptop; database=VPFS; User Id=VPFS_user; Password=jelszo01; Integrated Security=false; Persist Security Info=False;" />
  </connectionStrings>
  <!--User Id=VPFS_user; Password=jelszo01; -->
  <!--MOBJAMBORZ1\SQLEXPRESS-->
  <!--zoli-laptop-->
  <!--startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup
  <add name="VoluntaryPensionFundSystem.Properties.Settings.VPFSConnectionString"
      connectionString="Data Source=ZOLI-LAPTOP;Initial Catalog=VPFS;Persist Security Info=True;User ID=VPFS_user;Password=jelszo01"
      providerName="System.Data.SqlClient" />
  -->
</configuration>
